body {
  background-image: url("night.jpeg");
  background-repeat: no-repeat;
  background-size: 1400px 1000px;
}

.grid-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

input {
  font-family: Apple Chancery;
  border-style: none;
  background: white;
  border-radius: 15px;
  width: 300px;
  font-size: x-large;
  color: black;
  text-shadow: 2px 2px 11px rgba(0, 0, 0, 1);
}

input:hover {
  background-color: black;
  color: white;
  text-shadow: 2px 2px 11px rgb(252, 251, 251);
}

.footer-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.grid-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.copyrights p {
  display: flex;
  align-items: center;
  justify-content: center;
}
